<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.5.0/firebase-auth.js"></script>

<script>

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyBEuJ2PvumPF3ev8rsHzyd0X338GkMFRi8",
        authDomain: "myprojectresearch-55111.firebaseapp.com",
        projectId: "myprojectresearch-55111",
        storageBucket: "myprojectresearch-55111.appspot.com",
        messagingSenderId: "233908826218",
        appId: "1:233908826218:web:d520dd1ad8e447407b5a13",
        measurementId: "G-QEFBV6428J"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

</script>

