body
{
    max-width: 2000px!important;
}
.my-error-input {
    border-color:#d7191f!important;
}

.my-error-message {
    display:none;
    color:red;
}

input[type=password] {
    font-family: Verdana, monospace, sans-serif;
    height: 40px;
    padding: 5px;
}

input[type=text], input[type=password] ,input[type=number]{
    width: 100%;
    /*padding: 12px 20px;*/
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #e5e7eb;
    /*border-radius: .5rem;*/
    box-sizing: border-box;
    height: 40px;

}
select{
    width: 100%;
    /*padding: 12px 20px;*/
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #e5e7eb;
    /*border-radius: .5rem;*/
    box-sizing: border-box;
    padding: 10px !important;
    height: 40px;
}

input[type=text]:focus, input[type=password]:focus,input[type=number]:focus, button:focus, select:focus {
    border-color: #caccce;
    outline: 0;
}
.gl-field-error{
    color: red;
}
.timepicker{
    width: 120px !important;
    margin-right: 100px !important;
}
.w3-date{
    margin-right: 40px !important;
}
.btn-custom {
    background-color: #2196f3;
    color: white;
    /*padding: 14px 20px;*/
    margin: 8px 0;
    border: none;
    cursor: pointer;
    /*border-radius: .5rem;*/
    /*width: 40%;*/
    width: 125px!important;
}

td .fa {
    color: #90A4AE;
}

.w3-dropdown-hover .fad {
    color: #495057;
}

.fa-fw {
    vertical-align: middle;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}