<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard</title>
    <head th:replace="~{layout/html_header}"></head>

    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
        .w3-bottombar {
            border-bottom: 2px solid #ccc!important;
        }
        .remove-underline{
            text-decoration: none;
        }

    </style>
</head>

<body class="w3-light-grey w3-content" style="max-width:1600px">

<head th:replace="~{layout/html_sidebar}"></head>
<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:270px">

    <!-- Header -->
    <header id="portfolio">
        <a href="#"><img src="image/user.png" style="width:65px;" class="w3-image w3-grayscale w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"></a>
        <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
        <div class="w3-container">
            <div class="w3-bar w3-padding-16">
                <h2 class="w3-left"></h2>
                <a th:href="@{/meeting/create}" id="btn-new-meeting" style="white-space: nowrap" class="w3-bar-item w3-right w3-button w3-blue btn-custom" th:classappend="${w3_color}" >New Meeting</a>
            </div>
            <div style="clear:both;"></div>

            <div class="w3-section">
                <span class="w3-margin-right">Filter:</span>
                <button id="btn-get-all" class="w3-button w3-blue" th:classappend="${w3_color}" >ALL</button>
                <div class="w3-dropdown-hover">
                    <button class="w3-button w3-white w3-left-align" style="width:100%; margin-right: 30px">
                        <i class="fad fa-building w3-margin-right"></i>
                        <span id="btn-dpt-dropdown" >Department</span>
                        <i class="fad fa-chevron-square-down w3-display-right w3-margin-right"></i>
                    </button>
                    <div id="dropdown-department" class="w3-dropdown-content w3-bar-block w3-border" style="width:100%;">
                        <a class="w3-bar-item w3-button dpt-dropdown-all">All</a>
                    </div>
                </div>
                <div class="w3-dropdown-hover">
                    <button class="w3-button w3-white w3-left-align" style="width:200px;">
                        <i class="fad fa-calendar-week w3-margin-right"></i>
                        <span id="btn-reserve-date-dropdown" >Reserved Date</span>
                        <i class="fad fa-chevron-square-down w3-display-right w3-margin-right"></i>

                    </button>
                    <div class="w3-dropdown-content w3-bar-block w3-border" style="width:200px;">
                        <a class="w3-bar-item w3-button dt-dropdown" value="Today" >Today</a>
                        <a class="w3-bar-item w3-button dt-dropdown" value="This Week" >This Week</a>
                        <a class="w3-bar-item w3-button dt-dropdown" value="This Month" >This Month</a>
                        <a class="w3-bar-item w3-button dt-dropdown" value="Last Week" >Last Week</a>
                        <a class="w3-bar-item w3-button dt-dropdown" value="Last Month" >Last Month</a>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <!-- First Photo Grid-->
    <div class="w3-row-padding" id="table-wrapper">
        <table class="w3-table w3-white w3-border w3-bordered" id="tb-meeting">
            <thead>
            <tr>
                <th class="w3-text-blue" th:classappend="${w3_text_color}" style="width:150px;"><span >Hour</span></th>
                <th class="w3-text-blue" th:classappend="${w3_text_color}" style="width:200px;">Reserved Date</th>
                <th class="w3-text-blue" th:classappend="${w3_text_color}" >Agenda</th>
                <th class="w3-text-blue" th:classappend="${w3_text_color}"  style="width:120px;" >Room</th>
                <th class="w3-text-blue w3-hide-medium w3-hide-large" th:classappend="${w3_text_color}" style="width:150px;" >Department</th>
                <th class="w3-text-blue w3-hide-medium" th:classappend="${w3_text_color}" style="width:150px;" >Signature</th>
                <th class="w3-text-blue w3-center" th:classappend="${w3_text_color}" style="width:50px; white-space: nowrap;" >Edit</th>
                <th class="w3-text-blue w3-center" th:classappend="${w3_text_color}" style="width:50px; white-space: nowrap">Delete</th>
            </tr>
            </thead>
            <tbody th:data-hover="${w3_hover_color}">
            </tbody>
        </table>

    </div>

    <div class="">
        <div class="w3-bar w3-padding-32">
            <div class="w3-bar-item" style="padding-left: 8px;">
                <div class="w3-dropdown-hover">
                    <button id="page-size" class="w3-button w3-white w3-left-align w3-display-container" value="10" style="width:80px;">
                        <span>10</span>
                        <i class="fad fa-chevron-square-down w3-display-right w3-margin-right"></i>
                    </button>

                    <div class="w3-dropdown-content w3-bar-block w3-border">
                        <a value="10" class="w3-bar-item w3-button page-size-drop-down">10</a>
                        <a value="20" class="w3-bar-item w3-button page-size-drop-down">20</a>
                        <a value="50" class="w3-bar-item w3-button page-size-drop-down">50</a>
                        <a value="100" class="w3-bar-item w3-button page-size-drop-down">100</a>
                    </div>
                </div>
            </div>
            <div class="w3-bar-item"><span class="current-page">1</span> <span>of</span> <span class="total-page">120</span></div>
            <div class="w3-bar-item" style="margin-left: 10%!important;">
                <!-- Pagination -->
                <div class="w3-center">
                    <ul data-first="First" data-previous="Previous" data-next="Next" data-last="Last" id="pagination-demo"></ul>
                </div>
            </div>
        </div>
    </div>


</div>

<head th:replace="~{layout/html_tail}"></head>
<script th:inline="javascript" th:src="@{/js/dashboard.js}"></script>

<script th:inline="javascript">

    // Script to open and close sidebar
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("myOverlay").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

</script>
</body>
</html>
